        <aside class="sidebar">
          <div class="widget">
            <h3 class="widgettitle">Popular Tags</h3>
            <ul>
              <% for(var i =0; i < tags.length;i++){ %>
                <li><a href="#"><%=tags[i].tag%></a></li>
              <%}%> 
            </ul>
          </div>
          <div class="widget">
            <h3 class="widgettitle">Popular Posts</h3>
            <ul>

            </ul>
          </div>
          <div class="widget socials-widget">
            <h3 class="widgettitle">Get Connected</h3>
            <ul>
              <li><a href="#" class="facebook-ico"><span></span>Facebook</a></li>
              <li><a href="#" class="twitter-ico"><span></span>Twitter</a></li>
            </ul>
          </div>
        </aside>