        <aside class="sidebar">
          <div class="widget">
            <h3 class="widgettitle">Genres</h3>
            <ul>
              <% for(var i =0; i < tags.length;i++){ %>
                <li><a href="#"><%=tags[i].tag%></a></li>
              <%}%> 
            </ul>
          </div>
          <div class="widget">
            <h3 class="widgettitle">Opening This Week</h3>
            <ul>
              <li><a href="#">The Hunter Games <strong>$98 Mil</strong></a></li>
              <li><a href="#">American Reunion <strong>$50 Mil</strong></a></li>
              <li><a href="#">Titanic <strong>$23 Mil</strong></a></li>
              <li><a href="#">Wrath of the Titans <strong>$50 Mil</strong></a></li>
              <li><a href="#">Mirror Mirro <strong>$7 Mil</strong></a></li>
            </ul>
          </div>
          <div class="widget socials-widget">
            <h3 class="widgettitle">Get Connected</h3>
            <ul>
              <li><a href="#" class="facebook-ico"><span></span>Facebook</a></li>
              <li><a href="#" class="twitter-ico"><span></span>Twitter</a></li>
              <li><a href="#" class="linkedin-ico"><span></span>Linkedin</a></li>
              <li><a href="#" class="you-tube-ico"><span></span>Youtube</a></li>
              <li><a href="#" class="rss-ico"><span></span>RSS</a></li>
            </ul>
          </div>
        </aside>