<!DOCTYPE html>
<html lang="en">
<head>
<title>CheatSheet</title>
<meta charset="utf-8">
<link rel="shortcut icon" type="image/x-icon" href="/assets/css/images/favicon2.ico">
<link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="all">
<link rel="stylesheet" href="/assets/css/colorbox.css" type="text/css" media="all">
<script src="assets/js/jquery-1.8.0.min.js"></script>
<script src="assets/js/jquery.colorbox-min.js"></script>
<!--[if lt IE 9]><script src="js/modernizr.custom.js"></script><![endif]-->
<script src="assets/js/functions.js"></script>
</head>
<body>
<!-- wrapper -->
<div id="wrapper" class="container-fluid">
  <div class="light-bg">
    <!-- shell -->
    <div class="shell">
      <!-- header -->
      <div class="header">
        <!-- socials -->
        <div class="socials"> <a href="#" class="facebook-ico">facebook-ico</a> <a href="#" class="twitter-ico">twitter-ico</a> <a href="#" class="you-tube-ico">you-tube-ico</a> </div>
        <!-- end of socials -->
        <h1 id="logo"><a href="#">CheatSheet</a></h1>
        <!-- navigation -->
        <% include partials/navbar.ejs %>
        <!-- end of navigation -->
        <div class="cl">&nbsp;</div>
      </div>
      <!-- end of header -->
      <!-- main -->
      <div class="main">
        <!-- content -->
        <section class="content">
          <!-- post -->
          <div class="post">
            <!-- post-inner -->
            <div class="post-inner">
              <header>
                <h2><a href="#">MovieTitle 1 Goes Here</a></h2>
                <p class="tags"><a href="#">FAMILY</a> <a href="#">COMEDY</a> <a href="#">ANIMATION</a> </p>
                <div class="cl">&nbsp;</div>
              </header>
              <div class="img-holder"> <a href="#"><img src="assets/css/images/post-img.jpg" alt=""></a> <a href="assets/css/images/post-img.jpg" class="btn-full-image popup"><span>FULL IMAGE</span></a> </div>
              <!-- meta -->
              <div class="meta">
                <p class="date">APRIL 09, 2012 by <a href="#">JOHN DOE</a></p>
                <div class="right">
                  <div class="rating-holder">
                    <p>RATING</p>
                    <div class="rating"> <span style="width: 100%;"></span> </div>
                  </div>
                  <a href="#" class="comments">59 comments</a> </div>
                <div class="cl">&nbsp;</div>
              </div>
              <!-- end of meta -->
              <!-- post-cnt -->
              <div class="post-cnt">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo orci vitae enim volutpat dapibus. Aliquam pharetra, odio eu luctus semper, dolor libero volutpat mi, sit amet convallis tortor justo eu nisl. Cras quis felis quis felis tempor volutpat id at dui. Donec vel turpis id odio tempus mollis quis vel justo. Etiam tortor nisi, pulvinar a mattis nec, luctus sit amet odio. Morbi id commodo ligula. </p>
                <a href="#" class="more">CONTINUE READING</a> </div>
              <!-- end of post-cnt -->
            </div>
            <!-- post-inner -->
          </div>
          <!-- end of post -->
          <!-- post -->
          <div class="post">
            <!-- post-inner -->
            <div class="post-inner">
              <header>
                <h2><a href="#">MovieTitle 2 Goes Here</a></h2>
                <p class="tags"><a href="#">FAMILY</a> <a href="#">COMEDY</a> <a href="#">ANIMATION</a> </p>
                <div class="cl">&nbsp;</div>
              </header>
              <div class="img-holder"> <a href="#"><img src="assets/css/images/post-img2.jpg" alt=""></a> <a href="assets/css/images/post-img2.jpg" class="btn-full-image popup"><span>FULL IMAGE</span></a> </div>
              <!-- meta -->
              <div class="meta">
                <p class="date">APRIL 09, 2012 by <a href="#">JOHN DOE</a></p>
                <div class="right">
                  <div class="rating-holder">
                    <p>RATING</p>
                    <div class="rating"> <span style="width: 50%;"></span> </div>
                  </div>
                  <a href="#" class="comments">59 comments</a> </div>
                <div class="cl">&nbsp;</div>
              </div>
              <!-- end of meta -->
              <!-- post-cnt -->
              <div class="post-cnt">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo orci vitae enim volutpat dapibus. Aliquam pharetra, odio eu luctus semper, dolor libero volutpat mi, sit amet convallis tortor justo eu nisl. Cras quis felis quis felis tempor volutpat id at dui. Donec vel turpis id odio tempus mollis quis vel justo. Etiam tortor nisi, pulvinar a mattis nec, luctus sit amet odio. Morbi id commodo ligula. </p>
                <a href="#" class="more">CONTINUE READING</a> </div>
              <!-- end of post-cnt -->
            </div>
            <!-- post-inner -->
          </div>
          <!-- end of post -->
          <!-- post -->
          <div class="post">
            <!-- post-inner -->
            <div class="post-inner">
              <header>
                <h2><a href="#">MovieTitle 3 Goes Here</a></h2>
                <p class="tags"><a href="#">FAMILY</a> <a href="#">COMEDY</a> <a href="#">ANIMATION</a> </p>
                <div class="cl">&nbsp;</div>
              </header>
              <div class="img-holder"> <a href="#"><img src="assets/css/images/post-img3.jpg" alt=""></a> <a href="assets/css/images/post-img3.jpg" class="btn-full-image popup"><span>FULL IMAGE</span></a> </div>
              <!-- meta -->
              <div class="meta">
                <p class="date">APRIL 09, 2012 by <a href="#">JOHN DOE</a></p>
                <div class="right">
                  <div class="rating-holder">
                    <p>RATING</p>
                    <div class="rating"> <span style="width: 70%;"></span> </div>
                  </div>
                  <a href="#" class="comments">59 comments</a> </div>
                <div class="cl">&nbsp;</div>
              </div>
              <!-- end of meta -->
              <!-- post-cnt -->
              <div class="post-cnt">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo orci vitae enim volutpat dapibus. Aliquam pharetra, odio eu luctus semper, dolor libero volutpat mi, sit amet convallis tortor justo eu nisl. Cras quis felis quis felis tempor volutpat id at dui. Donec vel turpis id odio tempus mollis quis vel justo. Etiam tortor nisi, pulvinar a mattis nec, luctus sit amet odio. Morbi id commodo ligula. </p>
                <a href="#" class="more">CONTINUE READING</a> </div>
              <!-- end of post-cnt -->
            </div>
            <!-- post-inner -->
          </div>
          <!-- end of post -->
          <div class="pagination">
            <ul>
              <li class="laquo"><a href="#"><span></span></a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li class="raquo"><a href="#"><span></span></a></li>
              <li><a href="#">10</a></li>
              <li class="dots">. . .</li>
              <li><a href="#">last</a></li>
            </ul>
          </div>
        </section>
        <!-- end of content -->
        <!-- sidebar -->
        <% include partials/sidebar.ejs %>

        <!-- end of sidebar -->
        <div class="cl">&nbsp;</div>
      </div>
      <!-- end of main -->
      <div class="footer">
        <nav class="footer-nav">
          <ul>
            <li><a href="#">Show All</a></li>
            <li><a href="#">Latest Movies</a></li>
            <li><a href="#">Top Rated</a></li>
            <li><a href="#">Most Commented</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- end of shell -->
  </div>
</div>
<!-- end of wrapper -->
</body>
</html>