<h1>Register</h1>

<!--if errors print errors-->
<% if (typeof err != "undefined") { %>
<%for(var i =0; i < err.length;i++){%>
	<div><%=err[i].msg%></div>

<%} }%>
<body>
   <link rel="stylesheet" type="text/css" href="/assets/css/register.css">
</body>
<form method="post" action="/users/register">
 <div class = "container">
     <div>
      <label><b>Name</b></label>
      <input type="text"  placeholder="Name" name="name">
    </div>
    <div>
      <label><b>Username</b></label>
      <input type="text" placeholder="Username" name="username">
    </div>
     <div>
      <label><b>Email</b></label>
      <input type="email"  placeholder="Email" name="email">
    </div>
    <div>
      <label><b>Password</b></label>
      <input type="password"  placeholder="Password" name="pass">
    </div>
    <div>
      <label><b>Confirm Password</b></label>
      <input type="password"  placeholder="Repeat Password" name="pass2">
    </div>
    <button type="submit"><b>Submit</b></button>
    <a href = "/"><button type="button"><b>Homepage</b></button></a>
  </div>
</form>