<!DOCTYPE html>

<html lang= 'en'>
<head>
<link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="all">
<link rel="stylesheet" href="/assets/css/uploadPage.css" type="text/css" media="all">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src ='/assets/js/uploadPageJs.js'></script>

</head>


<body>
    <div class = "container"> 
		<h3>Upload Your File Here</h3>
        <div>
	       	<form action = "/fileupload" method = "post" enctype = "multipart/form-data" onsubmit = "return validate()">
            <div>
                <label><b>Title</b></label>
                <input type="text"  placeholder="Title" name="title">
            </div>
            <div>
              <label><b>Description</b></label>
              <input type="text" placeholder="Description" name="description">
            </div>
	       	<input type = "file" id ="filetoupload" name = "filetoupload" accept = ".pdf,.txt,.doc,.docx"  class = "inputfile" required>
            <label for = "filetoupload" class = "uploadFileButton">Choose A File</label>
	       	<div class ="tags">
	       	   <ul id = "tag-list" > </ul>
	        </div>	
        </div>
	        
		<div class="section group">
            <div class="col span_1_of_3">
                <div class="dropdown">
                    <select class="form-control">				  
                        <% for(var i =0; i < tags.length;i++){ %>
	                	  <option> <%=tags[i].tag%></option>
                        <%}%> 
				    </select>
                </div>
            </div>
            <div class="col span_1_of_3">
                <div class = 'myBtns'>
                    <button id = "add-id" type="button">Add Tag</button>
                </div>
            </div>
        <div class="col span_1_of_3">
            <div class='myBtns'>
		        <button id = "submit-id">Submit</button>
	        </div>
        </div>
        </form>
        </div>
	</div>
    </div>
    </form>
    </div>
    </div>
    </div>
</body>
</html>


