<!DOCTYPE html>

<html lang= 'en'>
<head>
<link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="all">
<link rel="stylesheet" href="/assets/css/colorbox.css" type="text/css" media="all">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  


<script src ='/assets/js/uploadPageJs.js'></script>
<style type="text/css">
	textArea{
	   -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
    	box-sizing: border-box;
    	height: 70%;

    	width: 100%;
	}
	.myBtns{
		top:94%;
		left:55%;

	}

	/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}


</style>

</head>


<body>
	<div class='content-box-small' style="top:10%" >
			<div>
	        	<textarea placeholder="Fill me" id = "textarea-id"></textarea>
	        	<div style="float:right; color: white">
	        	<ul id = "tag-list" style="color:black">

	        	</ul>

	        	</div>	
	        </div>
	        




			

			<div class="section group">
	<div class="col span_1_of_3">
	        <div class="dropdown" style="top:70%; left: 2%">
			  	<select class="form-control">				  
	            	<% for(var i =0; i < tags.length;i++){ %>
	                	<option> <%=tags[i].tag%></option>
	               <%}%> 
            	  

				</select>
			</div>
	
	</div>
	<div class="col span_1_of_3">
			<div class = 'myBtns'>
				<button id = "add-id">Add Tag</button>
			</div>
	</div>
	<div class="col span_1_of_3">
	        <div class='myBtns' style="left: 67%">
		        <button id = "submit-id">Submit</button>
	        </div>
	</div>
</div>

	</div>
</body>



</html>

