<!DOCTYPE html>

<html lang= 'en'>
<head>
<link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="all">
<link rel="stylesheet" href="/assets/css/colorbox.css" type="text/css" media="all">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script src ='/assets/js/uploadPageJs.js'></script>
<style type="text/css">
	textArea{
	    height:500px; 
	    position: absolute;
	    top: 20%;
	    left: 40%;
	    width: 400px;
	    resize:none;
	    display: inline-block;
	}
	.myBtns{
		top:94%;
		left:55%;
		position:absolute;
	}

</style>

</head>


<body>
	
	<!-- wrapper -->
	<div id="wrapper" class="container-fluid">
	  <div class="light-bg">
	    <!-- shell -->
	    <div class="shell">
	      <!-- header -->
	      <div class="header">
	        <!-- socials -->
	        <div class="socials"> <a href="#" class="facebook-ico">facebook-ico</a> <a href="#" class="twitter-ico">twitter-ico</a> <a href="#" class="you-tube-ico">you-tube-ico</a> </div>
	        <!-- end of socials -->
	        <h1 id="logo"><a href="#">CheatSheet</a></h1>
	        <!-- navigation -->
	        <% include partials/navbar.ejs %>
	        <!-- end of navigation -->
	        <div class="cl">&nbsp;</div>
	      </div>
	      <!-- end of header -->
	      <!-- main -->
	      <div class="main">
	        
	      

	        <!-- sidebar -->
	        <% include partials/sidebar.ejs %>

	        
        	<div>
	        	<textarea placeholder="Fill me" id = "textarea-id"></textarea>
	        	<div style="float:right; color: white">
	        	<ul id = "tag-list">

	        	</ul>

	        	</div>	
	        </div>
	        

	        <div class="dropdown" style="top:94%; position: absolute;left: 43%">
			  	<select class="form-control">				  
	            	<% for(var i =0; i < tags.length;i++){ %>
	                	<option> <%=tags[i].tag%></option>
	               <%}%> 
            	  

				</select>
			</div>



	        <div class='myBtns' style="left: 67%">
		        <button id = "submit-id">Submit</button>
	        </div>
			
			<div class = 'myBtns'>
				<button id = "add-id">Add Tag</button>
			</div>
	        <!-- end of sidebar -->
	        <div class="cl">&nbsp;</div>
	      </div>

	      <!-- end of main -->
	      <div class="footer">
	        <nav class="footer-nav">
	          <ul>
	            <li><a href="#">Show All</a></li>
	            <li><a href="#">Latest Movies</a></li>
	            <li><a href="#">Top Rated</a></li>
	            <li><a href="/uploadPage">Upload</a></li>
	          </ul>
	        </nav>
	      </div>
	    </div>
	    <!-- end of shell -->

	  </div>

	</div>
</body>



</html>

