.section {
	clear: both;
	padding: 0px;
 	margin: 0px;
}
.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; }

.span-3-of-4 {
	width: 74.6%; 
}

.span-1-of-4 {
	width: 23.8%; 
}
