.tags{
    float:right; 
    color: white;
}
ul{
    color:black;
}
.container{
    padding: 10px;
    border: 1px solid black;
    display: block;
    float:left;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}
.inputfile {
    overflow: hidden;
    position: absolute;
    z-index: -1;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}
.uploadFileButton{
    color:black;
    background-color: #B22222;
    display: inline-block;
    border-radius: 8px;
    cursor: pointer;
}
.uploadFileButton:hover{
    background-color: #90EE90;
    box-shadow: 0 0 3pt 2pt black;
}
h3{
    font-size: 3vw;
}
input[type=text]{
    width:100%;
}
li:hover{
    cursor:pointer;
}